wsdl/order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://restaurantorder.kolinek.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrderService" targetNamespace="http://restaurantorder.kolinek.org/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://restaurantorder.kolinek.org/"
			attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://restaurantorder.kolinek.org/">
			<xs:element name="getMenu" type="tns:getMenu"/>
			<xs:element name="getMenuResponse" type="tns:getMenuResponse"/>
			<xs:element name="placeOrder" type="tns:placeOrder"/>
			<xs:element name="placeOrderResponse" type="tns:placeOrderResponse"/>
			<xs:complexType name="getMenu">
				<xs:sequence/>
			</xs:complexType>
			<xs:complexType name="getMenuResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:menu"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="menu">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:menuItem"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="menuItem">
				<xs:sequence>
					<xs:element minOccurs="0" name="description" type="xs:string"/>
					<xs:element name="id" type="xs:int"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="placeOrder">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:order"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="order">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:orderItem"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="orderItem">
				<xs:sequence>
					<xs:element name="id" type="xs:int"/>
					<xs:element name="quantity" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="placeOrderResponse">
				<xs:sequence/>
			</xs:complexType>
			<xs:element name="NoSuchItemException" type="tns:NoSuchItemException"/>
			<xs:complexType name="NoSuchItemException">
				<xs:sequence>
					<xs:element name="id" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="message" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="NoSuchItemException">
		<wsdl:part element="tns:NoSuchItemException" name="NoSuchItemException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMenuResponse">
		<wsdl:part element="tns:getMenuResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="placeOrder">
		<wsdl:part element="tns:placeOrder" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="placeOrderResponse">
		<wsdl:part element="tns:placeOrderResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMenu">
		<wsdl:part element="tns:getMenu" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="OrderService">
		<wsdl:operation name="getMenu">
			<wsdl:input message="tns:getMenu" name="getMenu">
			</wsdl:input>
			<wsdl:output message="tns:getMenuResponse" name="getMenuResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="placeOrder">
			<wsdl:input message="tns:placeOrder" name="placeOrder">
			</wsdl:input>
			<wsdl:output message="tns:placeOrderResponse" name="placeOrderResponse">
			</wsdl:output>
			<wsdl:fault message="tns:NoSuchItemException" name="NoSuchItemException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMenu">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getMenu">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getMenuResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="placeOrder">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="placeOrder">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="placeOrderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="NoSuchItemException">
				<soap:fault name="NoSuchItemException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrderService">
		<wsdl:port binding="tns:OrderServiceSoapBinding" name="OrderServiceEndpoint">
			<soap:address location="http://localhost:9001/order"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>