wsdl/paymenttypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://restaurantpayment.kolinek.org/" name="PaymentService" targetNamespace="http://restaurantpayment.kolinek.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://restaurantpayment.kolinek.org/" elementFormDefault="unqualified" targetNamespace="http://restaurantpayment.kolinek.org/" version="1.0">

  <xs:element name="getPrice" type="tns:getPrice"/>

  <xs:element name="getPriceResponse" type="tns:getPriceResponse"/>

  <xs:element name="pay" type="tns:pay"/>

  <xs:element name="payResponse" type="tns:payResponse"/>

  <xs:complexType name="pay">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:orderItem"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderItem">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="quantity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="payResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPriceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="pay">
    <wsdl:part element="ns1:pay" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="payResponse">
    <wsdl:part element="ns1:payResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPriceResponse">
    <wsdl:part element="ns1:getPriceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrice">
    <wsdl:part element="ns1:getPrice" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentService">
    <wsdl:operation name="pay">
      <wsdl:input message="ns1:pay" name="pay">
    </wsdl:input>
      <wsdl:output message="ns1:payResponse" name="payResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <wsdl:input message="ns1:getPrice" name="getPrice">
    </wsdl:input>
      <wsdl:output message="ns1:getPriceResponse" name="getPriceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>